html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* ---------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Lato", "sans-serif";
  font-weight: 400;
}

a {
  text-decoration: none;
}

header,
form {
  padding: 1em 2%;
}

header {
  background-color: #077abc;
  color: white;
}
header h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 10px;
}
header h1 i {
  color: #055a8b;
}
header h1 span {
  font-weight: 300;
}
header p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
header h3,
header h3 a {
  color: #32ccfe;
}
header h3 a,
header h3 a a {
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header h3 a:hover,
header h3 a a:hover {
  color: white;
}

.form-group {
  margin-bottom: 5px;
  align-content: center;
}

h2.heading {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  color: #506982;
  border-bottom: 1px solid #506982;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

html{
  min-height: 50%;
}

body{
  background:none;
}

#datagramaip{
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 40px;
  color: #858b8e;
  box-shadow: 6px 6px 6px rgba(0.2,0.2,0.2,0.2);
}

#datagramaip h2{
  padding-bottom: 20px;
  margin: 10px 20px;
  font-size: 24px;
}

#datagramaip hr{
  margin-top: 38px;
  margin-bottom: 54px;
  margin-left:3px;
  border: 1px solid #cccccc;
}

#datagramaip .form-group{
  margin-bottom: 20px;
  margin-left:20px;
  width: 100%;
  float:left;
  text-align: center;
}

#datagramaip .form-control{
  padding: 12px 20px;
  height: auto;
  border-radius: 2px;
}

#datagramaip .radio-inline{
  margin-left: 10px;
  margin-right: 10px;
}

#datagramaip .gender{
  width: 30%;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#datagramaip .btn{
  width: 46%;
  margin: 20px auto 0;
  display: block;
  outline: none;
}

@media screen and (max-width: 800px){
  #datagramaip .form-group{
      width: 30%;
  }

  #datagramaip{
      margin-top: 0;
  }
}

/* @media screen and (max-width: 800px){
  #datagramaip .form-group{
      width: 100%;
      margin-left: 0;
  }

  #datagramaip h2{
      text-align: center;
  }
} */