<!DOCTYPE html>

<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <h1><i class="fa fa-cloud"></i> Datagramas Ipv4 <i class="fa fa-cloud"></i></h1>
    <p>Construcción y fragmentación</p>
  </header>

  <form action="">
    <!--  Datos de entrada -->
    <div class="form-group">
      <h2 class="heading">Datos de entrada</h2>

      <form class="row justify-content-around">

        <div class="col-5">
          <div class="controls">
            <input type="number" id="mtu" class="floatLabel" name="mtu">
            <label for="mtu">Unidad máxima de referencia</label>
          </div>
        </div>

        <div class="col-5">
          <div class="controls">
            <input type="number" id="longitudTotal" class="floatLabel" name="longitudTotal">
            <label for="longitudTotal">Longitud total</label>
          </div>
        </div>

      </form>

      <div class="controls">
        <label for="protocolo" style="text-align: center;">Protocolo de nivel superior</label>
      </div>

      <form>
        <label class="radio-inline p-4">
          <input type="radio" name="optradio" checked>ICMP
        </label>
        <label class="radio-inline p-4">
          <input type="radio" name="optradio">TCP
        </label>
        <label class="radio-inline p-4">
          <input type="radio" name="optradio">UDP
        </label>
      </form>


      <form class="row justify-content-around">
        <div class="controls">
          <div class="col">
            <label for="protocolo">Dirección IP de origen</label>
          </div>
        </div>
      </form>

      <div class="controls">

        <form class="row justify-content-around">

          <div class="col-2">
            <label for="ipOrigen1" class="form-label" style="position: static">Octeto 1</label>
            <input type="text" id="ipOrigen1" class="form-control" name="ipOrigen1">
          </div>

          <div class="col-2">
            <label for="ipOrigen2" class="form-label" style="position: static">Octeto 2</label>
            <input type="text" id="ipOrigen2" class="form-control" name="ipOrigen2">
          </div>

          <div class="col-2">
            <label for="ipOrigen3" class="form-label" style="position: static">Octeto 3</label>
            <input type="text" id="ipOrigen3" class="form-control" name="ipOrigen3">
          </div>

          <div class="col-2">
            <label for="ipOrigen4" class="form-label" style="position: static">Octeto 4</label>
            <input type="text" id="ipOrigen4" class="form-control" name="ipOrigen4">
          </div>

        </form>

      </div>

      <div class="controls">
        <input type="text" id="ipDestino" class="floatLabel" name="ipDestino">
        <label for="ipDestino">Dirección IP destino</label>
      </div>

    </div>
    <!--  Details -->
    <div class="form-group">
      <h2 class="heading">Details</h2>
      <div class="controls">
        <input type="tel" id="cell" class="floatLabel" name="cell">
        <label for="cell">Celly</label>
      </div>
      <div class="controls">
        <i class="fa fa-sort"></i>
        <select class="floatLabel">
          <option value="blank"></option>
          <option value="Apple">Apple</option>
          <option value="Banana">Banana</option>
          <option value="Kiwi">Kiwi</option>
          <option value="Orange">Orange</option>
          <option value="Watermelon">Watermelon</option>
        </select>
        <label for="fruit">Favotire Fruit</label>
      </div>
    </div>
    <!--  More -->
    <div class="form-group">
      <h2 class="heading">More!</h2>
      <div class="controls">
        <textarea name="comments" class="floatLabel" id="comments"></textarea>
        <label for="comments">Comments</label>
        <button>Submit</button>
      </div>
    </div>
  </form>

</body>

</html>